html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    background-attachment: fixed; /* Optional: Fixiert den Hintergrund beim Scrollen */
    background-size: cover; /* Stellt sicher, dass der Hintergrund den gesamten Bereich ausfüllt */
}

    #footer-container {
        margin-top: auto;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }